<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blllf.bigevent.mapper.ArticleMapper">

    <select id="list" resultType="com.blllf.bigevent.pojo.Article">
        select * from article
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            and create_user = #{uid}
        </where>
        order by id DESC
    </select>


    <select id="selectAll" resultType="com.blllf.bigevent.pojo.Article">
        select * from article
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>
            <if test="title != null and title != '' ">
                and title like #{title}
            </if>
            and state = #{state}
        </where>
        order by id DESC
    </select>

    <select id="findArticlesByPage" resultType="com.blllf.bigevent.pojo.Article">
        select article.* from article
        join user on article.create_user = user.id and article.category_id = #{categoryId}
        <where>
            <if test="username != null and username != '' ">
               and username like #{username}
            </if>
            <if test="title != null and title != '' ">
                and title like #{title}
            </if>
            and state = '已发布'
        </where>
        order by article.id DESC
    </select>

</mapper>